<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Events</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--<ion-card>
    <ion-card-header>
      <ion-card-title>Categories</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <button ion-item *ngFor="let item of categories">
          {{item}}
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
  <ion-card-header>
    <ion-card-title>Tags</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <button ion-item *ngFor="let item of tags">
        {{item}}
      </button>
    </ion-list>
  </ion-card-content>
</ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tags</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img *ngFor="let item of items.items" src="https://telaradb.com/images/{{item.Icon}}.png" style="float: left; width: 75px; height: 75px;" />
    </ion-card-content>
  </ion-card>-->
  <ion-buttons>
    <button ion-button round (click)="getEventsForShard(2721, 'Gelidra')">Gelidra</button>
    <button ion-button round (click)="getEventsForShard(2711, 'Brutwacht')">Brutwacht</button>
    <button ion-button round (click)="getEventsForShard(2722, 'Zaviel')">Zaviel</button>
  </ion-buttons>
  <ion-title>{{title}}</ion-title>
  <span *ngFor="let event of events">
  <ion-card *ngIf="event.hasOwnProperty('name')">
    <ion-card-header>
      <ion-card-title>{{event.zone}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{event.name}} - {{event.started}}</p>
      <ion-chip>
        <ion-icon name="pin"></ion-icon>
        <ion-label >Da ist 1 Event am start!</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
   </span>
</ion-content>
